   @import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
   @import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
body{
    margin: 0;
    padding: 0;
}

/* Header CSS Section */
.heading{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(3, 63, 33);
}

.menu-button{
    padding: 2em 0;
}

.toggle-button{
    text-decoration: none;
    margin: 1em;
    text-align: center;
    width: 3em;
    color: white;
    font-size: 1.8em;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    padding: 1em;
    text-align: center;
}

.logo-img{
    max-width: 90%;
}

.log{
    margin: 1em;
    text-align: right;
    font-size: 0.9rem;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.humber-logo{
    text-align: left;
    margin: 1em;
    max-width: 50%;
}

.humber-logo-img{
    max-width: 50%;
}

.searchbox{
    margin: 0.5em;
}

.course-searchbox{
    width: 100%;
    padding: 0.50em 0.50em;
    border-radius: 0.2em;
    border: 0 solid;
    background-color: rgb(48, 46, 46);
    background-image: url('/img/search.svg');
    background-repeat: no-repeat;
    background-position: 0.50em;
    color: #fff;
    padding-left: 2.5em;
}

/* Main Content CSS section */
.courses{
    padding: 0 0.5em;
}

.instructor-detail{
    display: grid;
    grid-template-columns: 5em auto;
}

.instructor-img{
    max-width: 80%;
}

.browse{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.notific{
    text-align: right;
}

.course-image{
    max-width: 70%;
}

.notification-img{
    max-width: 25%;
}

.my-courses{
    display: grid;
    grid-template-columns: 1fr;
}

.course {
    background-color: white;
    text-align: left;
    box-shadow: 0.5em 0.5em 4em rgb(202, 201, 201);
    border-radius: 0.2em;
    padding: 1em;
    margin: 0.5em 0;
}

.course-info {
    padding: 0 0.5em;
}

.course-link{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 0.9em;
    font-weight: bold;
}

.instructor-name{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: brown; 
}

.real-world{
    display: grid;
    grid-template-columns: 2fr 2fr;
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: #fff;
    margin: 1em 0;
    font-size: 1.5em;
}

.connection{
    background-color: rgb(11, 14, 31);
}

.real-world-para{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.4em;
}

.work-experience{
    background-color: rgb(63, 53, 105);
}

.nav-button{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    text-align: center;
}

.nav-image{
    width: 50%;
}

.slack{
    padding: 0.5em 0;;
}

.timeline{
    text-align: center;
}

/* MEDIA QUERIES STARTS HERE */
@media screen and (max-width: 40em){
    .mobile-course{
        display: none;
    }
}

@media screen and (min-width: 40em){
    .logo-img{
        max-width: 50%;
    }

    .humber-logo-img{
        max-width: 30%;
    }

    .searchbox{
        max-width: 40%;
    }

    .course-image{
        max-width: 50%;
    }

    .notification-img{
        max-width: 10%;
    }

    .instructor-name{
        color: green; 
    }

    .my-courses{
        grid-template-columns: 1fr;
        grid-gap: 0.5em;
        max-width: 150em;
    }

    .due-timeline{
        text-align: center;
        max-width: 70%;
    }
}

@media screen and (min-width: 80em){
    .logo-img{
        max-width: 50%;
    }

    .humber-logo-img{
        max-width: 30%;
    }

    .searchbox{
        max-width: 40%;
    }

    .course-image{
        max-width: 25%;
    }

    .notification-img{
        max-width: 8%;
    }

    .instructor-name{
        color: red; 
    }

    .real-world-para{
        font-size: 0.6em;
    }

    .my-courses{
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2em;
        margin: 0 5em;
        max-width: 300em;
    }

    .nav-image{
        width: 20%;
    }

    .due-timeline{
        max-width: 50%;
        padding: 1em;
    }

    .toggle-button{
        display: none;
    }
}