   @import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
   @import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
body{
    margin: 0;
    padding: 0;
}

/* Header CSS Section */
.heading{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: teal;
}

.menu-button{
    padding: 2em 0;
}

.toggle-button{
    text-decoration: none;
    margin: 1em;
    text-align: center;
    width: 3em;
    color: white;
    font-size: 1.7em;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    padding: 0.5em;
}

.logo-img{
    max-width: 80%;
}

.log{
    margin: 1em;
    text-align: right;
    font-size: 0.8rem;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
}

/* Main Content CSS section */
.humber-logo{
    text-align: left;
    margin: 1em;
}

.humber-logo-img{
    max-width: 50%;
}

.searchbox{
    margin: 0.5em;
}

.course-searchbox{
    width: 100%;
    padding: 0.50em 0.50em;
    border-radius: 0.2em;
    border: 0 solid;
    background-color: rgb(48, 46, 46);
    background-image: url('/img/search.svg');
    background-repeat: no-repeat;
    background-position: 0.50em;
    color: #fff;
    padding-left: 2.5em;
}

.courses{
    padding: 0 0.5em 0 0.5em;
}

.browse{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.notific{
    text-align: right;
    color: blue;
}

.course-image{
    max-width: 100%;
}

.notification-img{
    max-width: 25%;
}

.course {
    background-color: white;
    text-align: left;
    box-shadow: 0.5em 0.5em 4em rgb(202, 201, 201);
    border-radius: 0.2em;
    padding: 1em;
    margin: 0.5em 0;
}

.course-info {
    padding: 0 1em 0 1em;
}

.course-link{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 0.9em;
    font-weight: bold;
}

.instructor-name{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: brown; 
}

.real-world{
    display: grid;
    grid-template-columns: 2fr 2fr;
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: #fff;
    margin: 1em 0;
    font-size: 1.5em;
}

.connection{
    background-color: rgb(11, 14, 31);
}

.work-experience{
    background-color: rgb(63, 53, 105);
}

.nav-button{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    text-align: center;
}

.nav-image{
    width: 50%;
}

.slack{
    padding: 0.5em 0;;
}