body{
    margin: 0;
    padding: 0;
}

/* Header CSS Section */
.heading{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: teal;
}

.menu-button{
    padding: 2em 0;
}

.toggle-button{
    text-decoration: none;
    margin: 1em;
    text-align: center;
    width: 3em;
    color: white;
    font-size: 1.7em;
    font-family: Arial, Helvetica, sans-serif;
}

/* .logo{
    
} */

.log{
    margin: 1em;
    text-align: right;
    font-size: 0.7rem;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
}

/* Main Content CSS section */
.humber-logo{
    text-align: left;
    margin: 1em;
}

.searchbox{
    margin: 0.5em;
}

.course-searchbox{
    width: 100%;
    padding: 0.50em 0.50em;
    border-radius: 0.2em;
    border: 0 solid;
    background-color: rgb(48, 46, 46);
    background-image: url('/img/search.svg');
    background-repeat: no-repeat;
    background-position: 0.50em;
    color: #fff;
    padding-left: 1.8em;
}

.courses{
    padding: 0 0.5em 0 0.5em;
}

.course-one {
    background-color: white;
    text-align: left;
    box-shadow: 0.5em 0.5em 3em black;
    border-radius: 0.2em;
    padding: 1em;
}

.course-info {
    padding: 0 1em 0 1em;
}

.main-footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    text-align: center;
    color: #fff;
    margin: 1em 0;
}